*{
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}
h1{
    font-size: 50px;

}
span{
    color: turquoise;
}
html,
body{
    margin:30px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    min-height: 100%;
    min-height: 100vh;
}
.header{
    overflow: auto;
    background-color: darkslategrey;
   text-align: center;

}

.header a{
    float: left;
    padding: 20px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    width: 25%; /* Four links of equal widths */

}
.header a:hover{
    background-color: turquoise;
    color: white;
}

.header a.active{
    background-color: black;
}
.additional-style{
    margin-left: 160px;
    margin-right: 160px;
}
.list{
   width: 200px;
    float: left;
    margin-top: 20px;
    border: 2px solid black;
    background-color:#eee;
}
.photo{
    margin-top: 20px;
    border: 2px solid black;
    width: 1000px;
    height: 500px;
    float: right;
}

.list a{
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
    margin: 0;
}
.list a:hover{
    background-color: #ccc;
}
.list a.active{
    background-color: gray;
    color: white;
}
.photo img{
    width: 800px;
    height: 400px;
    transition: transform 1s ease;
}

.photo img:hover{
width: 100%;
    height: 100%;
}
.text{
    margin-top: 20px;
    width: 1000px;
    height: 500px;
    float: right;
}

.footer{
    background-color: gray;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer a{
    color: black; !important;
    float: left;
    padding: 20px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    width: 15%; /* Four links of equal widths */

}
.footer a:hover{
    color: deepskyblue;
}

.footer a.active{
    color: deepskyblue;
}
.main-container {
    min-height: 100vh; /* will cover the 100% of viewport */
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 100px; /* height of your footer */
}
.copyright{
    float: right;
    padding: 20px;
    color: white;
    text-decoration: none;
    font-size: 17px;
}



